		</div>
		<footer class="container-fluid bg-dark w-100">

			<div class="text-center py-3 text-light">© 2019 Copyright: 
				<a href="https://github.com/khanghy2130/" target="_blank">
					Hy Nguyen
				</a>
			</div>

		</footer>
	</body>
</html>