		</div>
		<footer class="container-fluid bg-dark w-100">

			<div class="text-center py-3 text-light">A project by 
				<a href="https://github.com/khanghy2130/" target="_blank" class="text-success">
					Hy Nguyen
				</a>
			</div>

		</footer>
	</body>
</html>