		</div>
		<footer class="container-fluid bg-dark w-100">

			<div class="text-center py-3 text-light">A project by 
				<a href="https://github.com/khanghy2130/" target="_blank">
					Hy Nguyen
				</a>
				, from 
				<a href="https://www.udemy.com/course/the-web-developer-bootcamp/" target="_blank">
					The Web Developer Bootcamp
				</a>
			</div>

		</footer>
	</body>
</html>