<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
		<link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/icon/icon.png">
		<link rel="stylesheet" href="/css/landing.css">
    </head>
    <body>
    
	<!-- flash message -->
    <% if (flashMessage.text && flashMessage.text.length > 0) { %>
		<div class="container">
			<div class="alert alert-<%= flashMessage.color %>" role="alert">
				<strong><%= flashMessage.text %></strong>
			</div>
		</div>
	<% } %>
    
		
    <div id="landing-header">
 		<h1>Welcome to YelpCamp!</h1>
		<a href="/campgrounds" class="btn btn-lg btn-dark border shadow">View All Campgrounds</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

	</body>
</html>